<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css">
    <link rel="stylesheet" href="/slider.css">
    <link rel="stylesheet" href="/style.css">

    <title>FeBREWary 2014</title>
  </head>
  <body>
    <div class="container" id="content">
      <div class="row">
        <div class="logo col-md-4"><img src="/logo2.png"></div>
        <div class="col-md-8">
          [% content %]
        </div>
      </div>
    </div>

    <script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="/bootstrap-slider.js"></script>
    <script src="/site.js"></script>
  </body>
</html>
