<h2>Guest List</h2>

[% include 'rsvp.tt' %]

<table class="table">
  <thead>
    <tr><th>Total</th><th>[% sum %]</th></tr>
  </thead>
  <tbody>
    [% foreach rsvp in rsvps %]
    <tr><td>[% rsvp.name %]</td><td>[% rsvp.guests %]</td></tr>
    [% end %]
  </tbody>
</table>
