<p>Join us for the first annual FeBREWary!  Several people will be brewing homemade
beer and everyone that attends gets to judge which one is best.  After the judging,
try to drink all of your favorite one before anyone else gets to enjoy it or just
chat with the other attendees or whatever you normally do at parties.</p>

<p>You don't even have to bring anything, just show up and help determine who has the
best shot at quitting his or her day job and starting a brewery.<p>

<a class="btn btn-primary" role="button" href="/rsvp">Count me in!</a>
