#content {
  padding: 10px 20px;
}

h1 {
  font-weight: bold;
  text-align: center;
}

.logo {
  text-align: center;
}

.rsvp {
  text-align: center;
}

form {
  margin: 1em 0;
}

.slider {
  width: 90%;
}

.right {
  text-align: right;
}

.attribute {
  display: block;
}

.col-md-6 strong {
  width: 7em;
  display: inline-block;
}
