body {
  background: url('/background.jpg') center -1000px no-repeat;
}

#content {
  background: rgba(255, 255, 255, 0.7);
  padding: 10px 20px;
}

h1 {
  font-weight: bold;
  text-align: center;
}

form {
  text-align: center;
}

ul.nav {
  text-align: center;
  width: 100%;
  margin: auto;
}

ul.nav li {
  display: inline;
}

ul.nav a {
  display: inline;
}
